body {
    margin: 0;
}

.red {
    z-index: 1;
    background-color: rgb(238,21,21);
    width: 100vw;
    height: 46vh;
    top: 0%;
    position: fixed;
}

.black {
    z-index: -2;
    background-color: #010101;
    /* background-color: rgb(34,34,36); */
    width: 100vw;
    height: 8vh;
    position: fixed;
    top: 46vh;
}

.zdmn {
    z-index: -1;
    opacity: 0.0;
    position: fixed;
    background: url("img/zdmnPNG.png");
    width: 40vw;
    height: 50vh;
    background-size: contain;
    background-repeat: no-repeat;
    top: 28%;
    left: 5%;
}


.white {
    z-index: 1;
    background-color: rgb(240,240,240);
    width: 100vw;
    height: 46vh;
    bottom: 0%;
    position: fixed;
}

.button {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: white;
    border: 50px solid rgb(17, 17, 19);
    outline: none;
    z-index: 2;
    left: 40%;
    top: 35vh;
    position: fixed;
}

.button:hover {
    background-color: grey;
}

@media only screen and (min-width: 1000px) {
  .zdmn {
    top: 23%;
    left: 15%;
  }
}
